<div class="container">
    <div class="table-wrapper">
        <div class="row" [formGroup]="userSearch">
            <div class="col-sm-6 header-title">
                <h1><strong>Manage Users</strong></h1>
            </div>
            <div class="col-sm-3 form-group">
                <a href="#" routerLink="/UserDetail" class="btn btn-info">Create New User</a>
            </div>
            <div class="col-sm-3 form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Search</mat-label>
                    <input type="text" autocomplete="off" formControlName="searchText"
                        placeholder="Name, Address, Country" matInput id="searchText" #searchValue>
                    <mat-icon matSuffix (click)="searchUser(searchValue.value)">search</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <mat-table #table style="height: 450px; overflow: auto;" [dataSource]="dataSource">
            <ng-container matColumnDef="userId">
                <mat-header-cell hidden *matHeaderCellDef> userId </mat-header-cell>
                <mat-cell hidden *matCellDef="let element"> {{element.userId}} </mat-cell>
            </ng-container>
            <ng-container hidden matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
            <ng-container hidden matColumnDef="address">
                <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
            </ng-container>
            <ng-container hidden matColumnDef="country">
                <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
            </ng-container>
            <ng-container hidden matColumnDef="zipCode">
                <mat-header-cell *matHeaderCellDef> ZipCode </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.zipCode}} </mat-cell>
            </ng-container>
            <ng-container hidden matColumnDef="mobileNo">
                <mat-header-cell *matHeaderCellDef> Mobile No </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.mobileNo}} </mat-cell>
            </ng-container>

            <ng-container hidden matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a routerLink="UserEdit/{{element.userId}}" data-toggle="tooltip" data-placement="top"
                        title="Edit User" class="btn text-warning btn-link">Edit</a>
                </mat-cell>
            </ng-container>
            <ng-container hidden matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a (click)="openConfirmationDialog(element.userId)" data-toggle="tooltip" data-placement="top"
                        title="Delete User" class="btn btn-link text-danger">Delete</a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
            [length]="dataSource.filteredData.length" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</div>