.container {
        margin: 5%;
}
div {
        margin-bottom: 2px;
}
.btn-warning {
    background-color: #ffc107 !important;
    color: black !important;
}
.btn-danger {
    color: var(--bs-btn-hover-bg) !important;
}
mat-header-cell, mat-cell {
    justify-content: center;
  }
  mat-header-cell {
    font-size: medium;
  }