.container {
    margin: 3%;
}
label {
    display: inline-block;
    width: 150px;
  }
div {
    margin-bottom: 5px;
  }
 
  .table-header{
    font-size: large;
    background-color: lightgrey;
  }
  .header-title{
    //margin: 1%;
  }
  .user-table
  {
    text-align: center;
  }
  .table-responsive {
    overflow: hidden;
  }
  .btn:hover{
    color: white !important;
  }
 .table-bordered>:not(caption)>*>* {
    border-width: 0 0 !important; 
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 0 !important;
}