// .container {
//     //margin: 3%;
// }
// label {
//     display: inline-block;
//     width: 150px;
//   }
div {
    margin-bottom: 10px;
  }
  .submit-btn
  {
    width: 35%;
  }
  .table-header{
    font-size: large;
    background-color: lightgrey;
  }
  .header-title{
    //margin: 1%;
  }
  .user-table
  {
    text-align: center;
  }
  .table-responsive {
    overflow: hidden;
  }
  .btn:hover{
    color: white !important;
  }
 